<form action="<%=users_url%>" method="post">
  <h1>Create a new User!</h1>
  <br>
  <br>
  <br>
  <label>Enter username:
    <input type="text" name="user[username]"/>
  </label>
  <br>
  <label>Enter password:
    <input type="password" name="user[password]"/>
  </label>
  <br>
  <input type="submit" value="create user">
</form>