<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<button>sections</button>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<button>search</button>
			</li>
		</ul>
	</nav>



	<nav class="right-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button id="subscribe">subscribe</button>
			</li>
			<li id="search-modal-btn">
				<button id ="log-in">log in</button>
			</li>
		<li id="gear-dropdown-btn">
				<button><i class="fas fa-cog"></i>	</button>		
		</li>
		<%= render partial: 'shared/gear_dropdown' %>
		</ul>
	</nav>



</header>