<nav class="section">
<a href=""><li> World</li></a>
<a href=""><li> San Francisco</li></a>
<a href=""><li> New York</li></a>
<a href=""><li> Bootcamp Prep</li></a>
<a href=""><li> Jumpstart</li></a>
<a href=""><li> Online</li></a>
<a href=""><li> Marketing</li></a>
<a href=""><li> Sales</li></a>
<a href=""><li> TalentMatch</li></a>
<a href=""><li> Alumni</li></a>
<a href=""><li> All</li></a>
</nav>